.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;

  .mainDesc {
    font-size: 16px;
    color: #626262;
    margin: 5px 0;
  }
}

.itemsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .sectionItem {
    margin: 15px 0;
    width: 200px;
    display: flex;
    flex-direction: column;

    h2 {
      color: #343a40;
      border-left: 0.3rem solid #343a40;
      margin: 10px 0 16px 0;
      padding-left: 0.8rem;
      font-size: 18px;
      cursor: default;
    }

    .extraInfo {
      margin-top: -10px;
      margin-bottom: 10px;
      padding: 5px 0;
      font-size: 12px;
      font-weight: 500;
      color: #555;
      cursor: default;

      .updateTime {
        padding-left: 5px;
      }
      .tag {
        margin-left: 6px;
        background-color: #dedede;
        padding: 1px 4px;
        border-radius: 4px;
      }
    }

    .image {
      border-radius: 2px;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
    }

    .desc {
      margin-top: 12px;
      font-size: 14px;
      color: #777;
      font-weight: 600;
      cursor: default;
    }
  }
}

@media (any-hover: hover) {
  .container {
    .sectionItem {
      .image:hover {
        box-shadow: 0 5px 12px rgb(0 0 0 / 22%);
        transform: scale(1.15);
      }
    }
  }
}
