.cv {
  max-width: 610px;
  margin: 1rem auto;
  color: #333;
  padding: 0 1rem;
}

.base-info {
  // max-width: 400px;
  margin: 0 auto;

  .title {
    display: flex;
    align-items: baseline;

    .name {
      font-size: 2rem;
      font-weight: 700;
    }

    .job {
      margin-left: .7rem;
    }
  }

  .items {

    margin-top: 0.4rem;

    .item {
      margin: 2px 0;
      display: flex;
      align-items: center;
      
      svg {
        margin-right: .3rem;
      }
    }
  }
}

.exp-container {
  margin-bottom: 15px;
  padding: 2px 8px 15px 8px;
  border-bottom: 1px solid #ccc;

  .exp-header {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
  }

  .exp-header-with-flex {
    // border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }

  .exp-des {
    margin-top: 12px;
    line-height: 1.4rem;
    padding: 0 5px;

    p {
      margin: 6px 0;
    }

    .job-des {
      p:first-child {
        font-size: 1.05rem;
        margin: 10px 0 5px 0;
      }

      ul {
        padding-left: 20px;

        li {
          margin: 5px 0;
        }

        li::before {
          content: "\279C";
          position: relative;
          right: 2px;
        }

      }

    }
  }

  .exp-des-edu {
    margin-top: 12px;
    line-height: 1.4rem;
    padding: 0 5px;

    p {
      margin: 6px 0;
    }

    ul {
      padding-left: 20px;

      li {
        margin: 6px 0;

        a:hover {
          border-bottom: 1px dashed var(--text-link);
        }
      }

      li::before {
        content: "\1F4DD";
        position: relative;
        right: 2px;
      }
    }

    .thesis::before {
      content: "\1F4D6";
      position: relative;
      right: 2px;
    }
  }
}

.exp-container:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}