*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --background-light: #fff;
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
  --text-link: #0069c2;
  --text-inactive: rgba(158, 158, 158, 0.6);
  --article-title-size: 24px;
  --article-title-color: #112c22;
}
