*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

p {
  line-height: 1.6;
  margin: 15px 0 0 0;
}

pre {
  border: 1px dashed #ddd;
  border-radius: 4px;
  background: #fafafa;
  padding: 1em;
  font-size: .9rem;
}

:root {
  // base color
  --minion-yellow: #f0db4f;
  --background-light: #fff;
  --dark-charcoal: #323330;

  // text
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
  --text-link: #0069c2;
  --text-inactive: rgba(158, 158, 158, 0.6);

  --post-title-size: 24px;
  --post-title-color: #112c22;

  // common size
  --container-max-width: 720px;
}