.container {
  max-width: 720px;
  display: flex;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

// .side-bar {
//   width: 100px;
//   display: none;

//   .category-list {
//     color: var(--text-secondary);

//     .category-header {
//       margin-bottom: 0.8rem;

//     }

//     .category-item {
//       margin-bottom: 0.3rem;
//       margin-left: 0.4rem;
//     }
//   }


// }

.list {

  .section {
    margin-top: 30px;
    .sectionTitle {
      margin: 12px 0;
      color: #000;
      font-size: 24px;
      font-weight: 700;
      cursor: default;
    }

    .sectionList {
      h3 {
        margin: 6px 0;
      }

      .postItemTitle {
        display: inline-block;
        border-bottom: 2px dashed var(--minion-yellow);
        margin-top: 5px;
        font-size: 1.3rem;
        color: #333;
        font-weight: 400;
        letter-spacing: 1px;
        flex: 0 1;
      }
    }

  }

  .section:hover {
    // box-shadow: 0 5px 40px rgb(0 0 0 / 4%);
  }

}

@media (any-hover: hover) {
  .list {
    .section {
      .sectionList {
        .postItemTitle:hover {
          background-color: var(--minion-yellow);
        }
      }
    }
  }
}