.header {
  background-color: rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(163, 163, 163, .2);

  &-nav {
    max-width: 600px;
    width: 100%;
    padding: 1.5rem 0;
    margin: 0 auto;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      margin: 0;
  
      li {
        a {
          color: rgba(115,115,115);
          padding: 8px 40px;
          // border: 1px solid rgba(115,115,115, .5);
          font-weight: 500;
          border-radius: 5px;
        }
        a:hover {
          background-color: #fafafa;
          color: #000;
        }
      }

    }
  }
}