.header-container {
  display: flex;
  align-items: center;
  height: 50px;
}

.header-nav {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

.header-nav li {
  margin-left: 2rem;
}
